/node_modules
/reference

/dist/*.js*
/dist/views/*.js*
/dist/view/*.js*
/dist/model/*.js*
/dist/controller/*.js*
/dist/view/model/*.js*
/dist/view/controller/*.js*
/dist/view/network/*.js*
# production
/build

.vscode/*

npm-debug.log*
yarn-debug.log*
yarn-error.log*

memo